.colorPalette {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.heading {
  font-family: helvetica;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 13px;
  display: block;
  margin-bottom: 4px;
}

.text {
  font-weight: 300;
  letter-spacing: normal;
}